body{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.table {
  margin: 2%;
  border: 1px solid black;
}
th,td{
  
    border-left: 1px solid blueviolet;
}
.titulo{
    margin-left: 5%;
}
.card , .text-bg-dark{
width: 90%;
}